@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity.Name !!</h1>

        <p>Welcome to Blazor Learner</p>

        <SurveyPrompt Title="How is Blazor working for you?" />
    </Authorized>
    <Authorizing>
        <div style="position:absolute; top:30vh; width:100%; text-align:center">
            <h1>My application</h1>
            <div style="display:flex; gap:10px; justify-content:center; align-items:center">
              <div class="spinner-border" role="status"></div>
              The application is loading...
        </div>
      </div>
    </Authorizing>
</AuthorizeView>